* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Fredoka;
  color: #ff8210;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffe6cf;
  padding: 30px 120px 30px 120px;
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
  display: flex;
  gap: 30px;
}
li {
  font-size: 18px;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

nav button {
  padding: 12px 24px 12px 24px;
  border-radius: 24px;
  font-size: 18px;
  color: white;
  background-color: #ff8210;
  border: none;
  cursor: pointer;
}
.logo {
  font-size: 38px;
  font-weight: bold;
  cursor: pointer;
}

.home {
  background-color: #ffe6cf;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 90vh;
  position: relative;
}
.paw-1{
  position: absolute;
  width: 40.48px;
  height: 37.82px;
  left: 490px;
  top: 520px;
  background: url(Paw.png);
  transform: matrix(-0.95, -0.32, -0.32, 0.95, 0, 0);
  transform: rotate(25deg);

}

.home-img {
  width: 600px;
  height: 500px;
  z-index: 1;
}

.home-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.gray-color {
  color: #222222;
}

.home-content h1 {
  font-size: 55px;
}

.home-content p {
  font-size: 25px;
  margin-top: 10px;
}

.home-content button {
  padding: 12px 24px 12px 24px;
  border-radius: 24px;
  color: white;
  background-color: #ff8210;
  border: none;
  font-size: 18px;
  width: 50%;
  margin-top: 20px;
}

.orange-home-box {
  background-color: #ff8210;
  height: 400px;
  width: 400px;
  border-radius: 15px;
  position: absolute;
  right: 290px;
  top: 160px;
}
.aboutus{
  line-height: 2px;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  
}
.box1{
  display: flex;
  text-align: center;
  align-items: center;
  background-color: #ffe6cf;
  padding: 81px 152px 24px 81px;
  
}
.vision p{
  border-right: 1px solid #ff8210;
  padding: 10px;
  color: #222222;
}

.mission p{
  padding: 10px;
  color: #222222;
}
.about{
  padding-bottom: 10px;
  padding-top: 10px;
  color: #ff8210;
  font-size: 40px;
}
.aboutbtm{
  padding-bottom: 10px;
  color: #222222;
}
.paw-4{
  position: absolute;
  width: 40.48px;
  height: 37.82px;
  left: 88.47px;
  top: 850px;
  background: url(Paw.png);
  transform: matrix(-0.95, -0.32, -0.32, 0.95, 0, 0);
  transform: rotate(25deg);

}
.core-feature{
  font-family: 'Fredoka';
  line-height: 2px;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #222222;
  padding-top: 20px;
}
.core{
  padding-bottom: 10px;
  padding-top: 10px;
  font-size: 40px;
  color: #ff8210;
}
.core-feature p{
  color: #222222;
}
.box2{
  display: flex;
  align-items: center;
  text-align: center;
}
.personalize1{
  position: absolute;
  width: 378.6px;
  height: 292px;
  left: 120px;
  top: 1350px;
  border-radius: 16px;
  background-color: #ffe6cf;
  padding: 148px 24px 24px 24px;

}
.compassion{
  position: absolute;
  width: 378.6px;
  height: 292px;
  left:  calc(50% - 378.6px/2 + 0.3px);
  top: 1350px;
  border-radius: 16px;
  background: #ff8210;
  padding: 148px 24px 24px 24px;

}
.personalize2{
  position: absolute;
  width: 378.6px;
  height: 292px;
  left: 1200px;
  top: 1350px;
  border-radius: 16px;
  background-color: #ffe6cf;
  padding: 148px 24px 24px 24px;

}
.personalize1 h3{
  color: #222222;
}
.personalize1 p{
  color: #222222;
}

.compassion h3{
  color: #fefefe;
}
.compassion p{
  color: #fefefe;
}
.personalize2 h3{
  color: #222222;
}
.personalize2 p{
  color: #222222;
}

